@use "../../../../styles/variables" as *;

button {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    padding: 9.2px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    

    background-color: $clr-primary-100;
    border: 0.8px solid $clr-white-100;

}

button img {
  width: 16px !important;
  height: 16px !important;
  max-width: 16px !important;
  max-height: 16px !important;
  object-fit: contain;
  
}

button.filter {
  width: 40px;
  height: 40px; 
  padding: 11.7px;

  border: 0.8px solid $clr-primary-300;
}

button.filter img {
  width: 15px !important;
  height: 15px !important;
  max-width: 15px !important;
  max-height: 15px !important;
  object-fit: contain;
}