<nav class="bottom-nav">
  <a routerLink="/home" routerLinkActive="active" class="nav-item">
    <i class="ph ph-house"></i>
    <span>Início</span>
  </a>
  <a routerLink="/bookings" routerLinkActive="active" class="nav-item">
    <i class="ph ph-calendar-blank"></i>
    <span>Reservas</span>
  </a>
  <a routerLink="/payment" routerLinkActive="active" class="nav-item">
    <i class="ph ph-credit-card"></i>
    <span>Pagamento</span>
  </a>
  <a routerLink="/chat" routerLinkActive="active" class="nav-item badge-container">
    <i class="ph ph-chat-circle"></i>
    <span>Chat</span>
    <span class="badge"></span>
  </a>
  <a routerLink="/profile" routerLinkActive="active" class="nav-item">
    <i class="ph ph-user"></i>
    <span>Perfil</span>
  </a>
</nav>
