$clr-white-100: #E6E6E6FF;
$clr-white-200: #E8E8E8FF;
$clr-white-300: #EAEAEAFF;
$clr-white-400: #ECECECFF;
$clr-white-500: #EEEEEEFF;
$clr-white-600: #F0F0F0FF;
$clr-white-700: #F2F2F2FF;
$clr-white-800: #F4F4F4FF;
$clr-white-900: #F6F6F6FF;
$clr-white-1000: #F8F8F8FF;
$clr-white-1100: #FAFAFAFF;

$clr-black-100: #E6E6E6FF;
$clr-black-200: #D0D0D0FF;
$clr-black-300: #BBBBBBFF;
$clr-black-400: #A6A6A6FF;
$clr-black-500: #919191FF;
$clr-black-600: #7C7C7CFF;
$clr-black-700: #676767FF;
$clr-black-800: #515151FF;
$clr-black-900: #3C3C3CFF;
$clr-black-1000: #272727FF;
$clr-black-1100: #121212FF;

$clr-primary-100: #CCE2FFFF;
$clr-primary-200: #C6DFFFFF;
$clr-primary-300: #C0DCFFFF;
$clr-primary-400: #BBD8FFFF;
$clr-primary-500: #B5D5FFFF;
$clr-primary-600: #AFD2FFFF;
$clr-primary-700: #A9CFFFFF;
$clr-primary-800: #A3CBFFFF;
$clr-primary-900: #9EC8FFFF;
$clr-primary-1000: #98C5FFFF;
$clr-primary-transparent-515: #92C2FF26;

$clr-blue-100: #D3E2F8FF;
$clr-blue-200: #BCD2F4FF;
$clr-blue-300: #A4C2F0FF;
$clr-blue-400: #8DB3ECFF;
$clr-blue-500: #75A3E9FF;
$clr-blue-600: #5E93E5FF;
$clr-blue-700: #4683E1FF;
$clr-blue-800: #2F74DDFF;
$clr-blue-900: #2266CFFF;
$clr-blue-1000: #1E5BB7FF;
$clr-blue-1100: #154895FF;
$clr-transparent-110: #D3E2F81A;
$clr-transparent-125: #D3E2F840;
$clr-transparent-150: #D3E2F880;

$clr-red-100: #F6D5DBFF;
$clr-red-200: #F2C4CCFF;
$clr-red-300: #EFB3BDFF;
$clr-red-400: #EBA2AEFF;
$clr-red-500: #E7919FFF;
$clr-red-600: #E37F91FF;
$clr-red-700: #E06E82FF;
$clr-red-800: #DC5D73FF;
$clr-red-900: #D84C64FF;
$clr-red-1000: #D53B55FF;

$clr-green-100: #D3F8EAFF;
$clr-green-200: #C0F4E1FF;
$clr-green-300: #ADF1D8FF;
$clr-green-400: #9AEECFFF;
$clr-green-500: #86EAC5FF;
$clr-green-600: #73E7BCFF;
$clr-green-700: #60E4B3FF;
$clr-green-800: #4CE0AAFF;
$clr-green-900: #39DDA0FF;
$clr-green-1000: #26DA97FF;
$clr-green-1100: #34CCA4FF;

$clr-yellow-100: #FDECCEFF;
$clr-yellow-200: #FCE4BBFF;
$clr-yellow-300: #FBDCA7FF;
$clr-yellow-400: #FBD494FF;
$clr-yellow-500: #FACD80FF;
$clr-yellow-600: #F9C56DFF;
$clr-yellow-700: #F8BD59FF;
$clr-yellow-800: #F7B546FF;
$clr-yellow-900: #F7AE32FF;
$clr-yellow-1000: #F6A61FFF;
$clr-yellow-1100: #F59E0BFF;