@use 'variables' as *;

body {
  background-color: $clr-white-100;
  color: $clr-black-1100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

// Scrollbar personalizada
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $clr-white-100;
}

::-webkit-scrollbar-thumb {
  background: $clr-primary-300;
  border-radius: 4px;

  &:hover {
    background: $clr-blue-1000;
  }
}