<form>
    <app-input placeholder="Digite seu nome..." hint="exemplo → Arthur "></app-input>
    <app-input type="email" icon="email" placeholder="E-mail" hint="exemplo → meuexemplodeemail@email.com"></app-input>
    <app-input type="password" icon="password" placeholder="Digite sua senha"
        hint="exemplo → meuexemplodesenha123@"></app-input>
    <app-input type="tel" icon="phone" placeholder="(11) 99999-9999"></app-input>

    <app-button type="submit" variant="primary" text="Cadastrar"></app-button>
</form>